<div style="display: flex; justify-content: flex-end;margin-bottom: 20px;">
    <button (click)="viewType = true"> List</button>
    <button (click)="viewType = false"> Grid</button>
    <select id="sort-by" class="ml10" (change)="sort($event)">
        <option value="Low">Show Low to High Price</option>
        <option value="High">Show High to Low Price</option>
    </select>
</div>

<div class="parent">
    <div class="listitem" *ngFor="let product of products"   [ngClass]="{
        'flex-4-cols': !viewType,
        'flex-2-cols': viewType}">
        <div>{{product.category}}</div><br/>
        <div><img [src]= "product.image" width ="120" height="120"/></div><br/>
        <div>{{product.price}}</div>
    </div>
  </div>