.parent {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .child {
    width: calc(25% - 10px);
    margin-left: 10px;
    margin-top: 10px;
  }
  
  /* Example Only Styles */
  .child {
    height: 100px;
    background: lightblue;
  }

  .listitem{
    display: flex;
    align-items: center;
  }


  .flex-2-cols {
    width: calc(50% - 10px);
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
    background: lightblue;
    flex-direction: column;
  }
  
  .flex-4-cols {
    width: calc(25% - 10px);
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
    background: lightblue;
    flex-direction: column;
  }


  