.item {
    height:200px;
    width:200px;
    background-color:red;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-left: 15px;
    margin-bottom: 15px
}